@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: #F9F6F0;
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
}
nav{
  position: relative;
  top: 0;
  bottom: 0;
  height: 120vh;
  left: 0;
  background: #2C2C56;
  width: 280px; 
  /* overflow: hidden; */
  /* box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1); */
}

.logo{
  text-align: center;
  display: flex;
  margin: 10px 0 0 0;
  color: #fff;
}
.logo img{
  width: 80px;
  height: 50px;
  border-radius: 50%;
}
.logo span{
  font-weight: bold;
  padding-right: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
a{
  position: relative;
  color: #fff;
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 10px;
}
nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}
a:hover{
  background: #5F5FB6;
}
a.active {
  color: #47a0ea;
}
.logout{
  position: absolute;
  bottom: 0;
}

footer {
  background-color: #5F5FB6;
  color: #fff;
  text-align: center;
  margin-top: 140%;
  padding: 10px;
}

/* Main Section */
.main{
  position: relative;
  padding: 5px;
  /* width: 100%;  */
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-left: 20px;
}

/* Team Profile Section */
.team-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.team-member {
  text-align: center;
  border: 3px solid #fff;
}

.team-member img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  border-radius: 10px;
}

.team-member p {
  margin-top: 10px;
  font-weight: bold;
}

  /* Media Queries */
@media screen and (min-width: 768px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}